* {
  
  margin: 0;
  padding: 0;
}

body {
  border: 0.1px solid black;
  max-width: 780px;
  margin: 0 auto;
}
.nav {
  background-color: blueviolet;
  display: flex;

  list-style: none;
  height: 2.5em;
}
.nav li {
  align-self: center;
  margin: 0 10px;
}
.nav li:hover {
  color: white;
}
.nav :first-child {
  margin-right: 260px;
  scale: 1.2;
  font-weight: 900;
}

.group1 {
  display: flex;
  margin: 20px 50px;
 
}
.group1 li {
  border: 0.1px solid rgb(248, 103, 103);
  list-style: none;
  margin: 0 2px;
  width: 120px;
  height: 40px;
  border-radius: 4px;
  background-color: gray;
  color: white;
  font-size: 1.2em;
  justify-content: center;
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 5px #5f5f5f;
}

.group1 li:hover {
  scale: 1.1;
  color: rgb(110, 241, 110);
}

.from {
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
}
.f1 {
  margin: 10px;
  font-size: 20px;
}
.f1 input {
  height: 40px;
  width: 160px;
  border-radius: 8px;
  font-size: large;
  font-style: normal;
  background-color: rgb(241, 218, 192);
}
.f1 input:hover {
  scale: 1.1;
  margin-left: 10px;
}
.button {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}
button {
  height: 40px;
  width: 150px;
  border-radius: 20px;

  font-size: large;
  text-align: center;
  background-color: rgb(60, 231, 103);
  box-shadow: 5px 5px 5px #063018;
  
}
